extends layout

block main
  .row
    .col.s12.center-align
      h1 Timelock Encryption
      p A proof of concept approach to use timelock encrpytion with Drand to prevent front running attacks in blockchain
  .row
    .col.s6
      .card.blue-grey.darken-1.hoverable
        .card-content.white-text
          span.card-title Encrypt a transaction
          .row
            p
              .col.s6            
                label
                  input.with-gap(name='enc' id='round' type='radio' checked=true)
                  span Round
              .col.s6
                label
                  input.with-gap(name='enc' id='time' type='radio')
                  span Time
            .input-field.col.s12#rounddiv
              input#round.validate(placeholder='123456' type='text')
              label(for='round') Round to encrypt
            #timediv
              .input-field.col.s12
                input.datepicker(type='text')
                label Date
              .input-field.col.s12
                input.timepicker(type='text')
                label Time
            .input-field.col.s12
              i.material-icons.prefix mode_edit
              textarea#icon_prefix2.materialize-textarea
              label(for='icon_prefix2') Message
          .row 
            .col.s6
              a.waves-effect.waves-light.btn Validate
            .col.s6
              a.waves-effect.waves-light.btn Decrypt

    .col.s6
      .card.blue-grey.darken-1.hoverable
        .card-content.white-text
          span.card-title Decrypt a Transaction
          .input-field.col.s12
              i.material-icons.prefix mode_edit
              textarea#icon_prefix2.materialize-textarea
              label(for='icon_prefix2') Encrypted Message
          .row 
            .col.s6
              a.waves-effect.waves-light.btn Validate
            .col.s6
              a.waves-effect.waves-light.btn Decrypt
          blockquote This is where decrypted message will appear
  .row
    .col.s12
      .card.purple.darken-2.hoveralbe
        .card-content.light-grey
          span.card-title Status
          h3 Current status 
          p #{round}

  //- .row
  //-   .col.s12
  //-     .card.teal.lighten-2.hoverable
  //-       .card-content.white-text 
  //-         span.card-title Progress
  //-         ul.collection.teal
  //-           li.collection-item 1
  //-           li.collection-item 1
  //-           li.collection-item 1
    