extends layout

block main
  .row
    .col.s12.center-align
      .card.teal.lighten-2.hoverable
        .card-content
          h1 Timelock Encryption
          p A proof of concept approach to use timelock encrpytion with Drand to prevent front running attacks in blockchain
  .row
    .col.s6
      .card.teal.darken-3.hoverable
        .card-content.white-text
          span.card-title Encrypt a transaction
          .row
            p
              .col.s6
                label
                  input.with-gap(name='enc' id='time' type='radio' checked=true)
                  span Time
              .col.s6            
                label
                  input.with-gap(name='enc' id='round' type='radio')
                  span Round
            .input-field.col.s12#rounddiv
              input#roundno.validate(type='text')
              label(for='roundno') Round to encrypt
            #timediv
              .input-field.col.s12.black-text
                input.datepicker(type='text')
                label Date
              .input-field.col.s12.black-text
                input.timepicker(type='text')
                label Time
            .input-field.col.s12
              i.material-icons.prefix mode_edit
              textarea#message.materialize-textarea
              label(for='message') Message
          .row 
            .col.s6
              a.waves-effect.waves-light.btn(onclick='current()') Current round
            .col.s6
              a.waves-effect.waves-light.btn(onclick='encrypt()') Encrypt
          blockquote#encresult.card-content This is where Encrypted message will appear

    .col.s6
      .card.teal.darken-3.hoverable
        .card-content.white-text
          span.card-title Decrypt a transaction
          .input-field.col.s12
              i.material-icons.prefix mode_edit
              textarea#enc.materialize-textarea
              label(for='enc') Encrypted Message
          .row 
            .col.s12
              a.waves-effect.waves-light.btn(onclick='decrypt()') Decrypt
          blockquote#decresult.card-content This is where decrypted message will appear
  //- .row
  //-   .col.s12
  //-     .card.purple.darken-2.hoveralbe
  //-       .card-content.light-grey
  //-         span.card-title Status
  //-         h3 Current status 
  //-         p #{round}

  //- .row
  //-   .col.s12
  //-     .card.teal.lighten-2.hoverable
  //-       .card-content.white-text 
  //-         span.card-title Progress
  //-         ul.collection.teal
  //-           li.collection-item 1
  //-           li.collection-item 1
  //-           li.collection-item 1
    